useDynLib(emoa)

## cec2009.r:
export(UF1, UF2, UF3, UF4, UF5, UF6, UF7, UF8, UF9, UF10)

## sympart.r:
export(sympart)

## domination.R:
export(is_dominated)
export(`%dominates%`)
export(nds_rank)
export(nondominated_points)
export(nondominated_ordering)

## indicators.r
export(hypervolume_indicator)
export(epsilon_indicator)
export(r1_indicator)
export(r2_indicator)
export(r3_indicator)

## hypervolume.r:
export(dominated_hypervolume)
export(hypervolume_contribution)

## sb_crossover.r
export(sbx_operator)

## poly_mutation.r
export(pm_operator)
