useDynLib(emoa)

## cec2009.r:
export(UF1, UF2, UF3, UF4, UF5, UF6, UF7, UF8, UF9, UF10)

## sympart.r:
export(sympart)

## pareto_utilities.r:
export(nondominated_points)
export(nondominated_ordering)
export(epsilon_indicator)

## hypervolume.r:
export(dominated_hypervolume)

## sbx_crossover.r
export(sbx_crossover)

## poly_mutation.r
export(poly_mutation)
